@import url(variable.css);

* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: px solid tomato;
}
body{
    background-color: var(--color-3);
}
.header {
    width: 100%;
    position: relative;
}
.div-header{
    width: 1378px;
    display: flex;
    margin-bottom: 16px;
    margin-left: -36px;

}
.buttom-header {
    display: flex;
    width: 298px;
    height: 96px;
    /* background: green; */
    border-radius: 48px;
    background-color: var(--color-1);
    margin-top: 29px;
    border: none;
}

.figure{
    display: flex;
    flex-direction: row;
    /* background: RED; */
    align-items: center;
    margin-top: 21px;
    margin-left: 76px;

    figcaption{
        margin-left: 0;
        font-family: "RobotoCondensed-Regular";
        font-size: 48px;
        color: var(--color-2);
        margin-right: 5px;
    }
    img{
        width: 45px;
        height: 45px;
        margin-right: 57px;
    }

}

.section-menu{
    /* background: red; */
    width: 732px;
    height: 38px;
    display: flex;
    flex-direction: row;
    margin-left: 92px;
    margin-top:72px;
    border-bottom: 2px solid var(--color-7);
    justify-content: space-between;

    
    a{
        text-decoration: none;
        color: var(--color-1);
    }
    h3{
        font-family: "RobotoCondensed-Bold";
        font-size: 24px;
    }
    .h3-4{
        border-bottom: 2px solid var(--color-1);
    }
}